Options All -ExecCGI -Indexes -Includes +FollowSymLinks

<FilesMatch ".(php|js)$">
  Header unset Cache-Control
</FilesMatch>

<FilesMatch ".(html|css)$">
  Header set Cache-Control "max-age=86400"
</FilesMatch>

<FilesMatch ".(png|ico)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>


RewriteEngine on

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/index\.html [NC]
RewriteRule ^index\.html(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]